.apartments {
	/* display: inline-block; */
}
.bg-white {
    background-color: #ffffff;
    box-shadow: 0 0 3px #cccccc;
    -webkit-box-shadow: 0 0 3px #cccccc;
    border-radius: 2px;
}
.text-uppercase {
    text-transform: uppercase;
}
textarea { height: auto !important; 
    font-family: sans-serif !important;
}
.text-right{
    text-align: right;
}
.aparments-padding {
	padding: 2rem;
	background-color: #f5f5f5 !important;
	position: relative;
}

.list-view:nth-of-type(2n+1) {
	background-color: #f9f9f9;
    /* border: 1px solid #d5d5d5; */
    border-bottom: 1px solid #d5d5d5;
}

.list-view:nth-of-type(2n) {
	background-color: #ffffff;
    /* border: 1px solid #d5d5d5; */
    border-bottom: 1px solid #d5d5d5;
}

.apartments__display__large {
	display: block;
}

ol {
	display: block;
	list-style-type: decimal;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}

.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0";
}

.breadcrumb li {
	display: inline-block;
}

.breadcrumb li a {
	text-decoration: none;
	font-size: 1.4rem;
}

.breadcrumb li .inactive {
	color: #000000;
}

.breadcrumb li .active {
	color: #777777;
}

.apartments__content-box {
	padding: 2rem;
	margin-bottom: 2rem;
	background-color: #ffffff;
	box-shadow: 0 0 .3rem #cccccc;
	-webkit-box-shadow: 0 0 .3rem #cccccc;
	border-radius: .2rem;
	margin-top: 2rem;
}

.apartments__content-box h3 {
	font-size: 1.8rem;
	margin-bottom: .7rem;
	color: #2f3947;
	font-weight: 400;
	margin-block-start: 0em;
}

.apartments__content-text {
	font-size: 1.35rem;
	padding: 20px 0;
	line-height: 2.3rem;
}

.apartments__content-more {
	display: block;
	text-decoration: none;
	margin-bottom: 2rem;
	font-size: 1.4rem;
	color: #23527c;
	margin-top: 0.5rem;
}

.card {
	padding: 2rem;
	/* border-bottom: 1px solid #d5d5d5; */
	margin: .2rem;
	min-height: 18.1rem;
	background-color: #f9f9f9;
    /* border: 1px solid #d5d5d5; */
    box-shadow: 0 0 .3rem #cccccc;
	-webkit-box-shadow: 0 0 .3rem #cccccc;
}

.card__media-list img {
	height: 15rem;
	width: 20.5rem;
}

.card__media-heading {
	font-size: 2rem;
	margin-block-start: 0;
	margin-block-end: 0;
	color: #2f3947;
	font-weight: 400;
	font-family: "Roboto Condensed", 'sans-serif';
}

.card__media-details {
	font-size: 1.6rem;
	font-family: 'lato';
	color: #2f3947;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-top: .5rem;
	line-height: 2rem;
}

.fa-heart {
	color: #333;
	/* border:1px solid black; */
	padding: 1.3rem;
	background-color: #fff;
	border: 0.1rem solid #ccc;
	border-radius: .4rem;
	margin-top: .5rem;
}

.intersted-btn {
	margin: .5rem;
	position: absolute;
	color: white;
	padding: 1rem 2rem 1rem 2rem;
	/* margin:10px 10px 10px 20px; */
	font-weight: 400 !important;
	cursor: pointer;
	font-size: 1.2rem;
	background-color: #D7AE57;
	border-radius: .4rem;
	border-color: transparent !important;
}
.intersted-btn-send {
    margin: .5rem;
    position: relative;
    padding: 1rem 2rem 1rem 2rem;
    /* margin:10px 10px 10px 20px; */
    font-weight: 400 !important;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: transparent;
    border-radius: .4rem;
    border: 2px solid #d7ae57;
    background-color: transparent;
    color: #d7ae57;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}
.btn-glasswarn {
    
}

.item-list {
	margin-top: 5.5rem;
	padding: 0 0 1rem;
	list-style: none;
	margin-left: -1.7rem;
	position: absolute;
}

.item-list li {
	float: left;
	padding: 0 1.5rem;
	border-right: .1rem solid #d5d5d5;
	/* width: 25%; */
	min-height: 7rem;
}

.item-list li span {
	margin-bottom: 1rem;
	display: block;
	color: #7A7B7C;
	font-family: 'Lato', sans-serif;
	font-size: 1.4rem;
}

.item-list li div {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.4rem;
}

.item-list li:last-child {
	border-right: none;
}

.text-small {
	font-size: 1.1rem;
}

.appartments-left-side {
	/* background-color: #f9f9f9; */
	margin-left: 3rem;
}

.contact-details {
	background-color: #ffffff;
	padding: 2rem;
	-webkit-box-shadow: 0 0 3px #cccccc;
	box-shadow: 0 0 3px #cccccc;
	padding-bottom: 0.5rem;
	margin-bottom: 2.5rem;
	border-radius: 3px;
}

.contact-details h4 {
	margin-block-start: 0;
	margin-block-end: 0;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1.8rem;
	color: #2f3947;
	font-weight: 400;
}

.contact-details p {
	font-size: 1.4rem;
}

.contact-details p i {
	margin: .7rem;
}

.imagegallery {
	width: 98%;
	height: 90px;
}

.ready-move-gallary {
	position: relative;
	background-color: #ffffff;
}

.ready-move-gallary1 {
	position: relative;
	background-color: #ffffff;
}

.btn-default {
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #333;
}

.ready-move-gallary .btn-default {
	font-size: 16px;
	padding: 10px 25px;
	font-weight: 600;
	background-color: #fff;
	border-color: #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ready-move-gallary1 .btn-default {
	font-size: 16px;
	padding: 10px 25px;
	font-weight: 600;
	background-color: #fff;
	border-color: #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.apartments__display__small-device {
	display: none;
}

/* starting pop up  */

.popup {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 100000;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}
#interested .bg-white h4 {
    margin-bottom: 20px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.popup__content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 48%;
	background-color: #fff;
	height: 38rem;
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	display: table;
	overflow: hidden;
	opacity: 0;
	transform: translate(-50%, 50%) scale(0.5);
    transition: all .5s .2s;
    background: url(http://www.40squares.com/assets/images/properties/Main_Page_1336X6003.jpg) no-repeat;
}

@media (max-width: 76.8rem) {
	.popup__content {
		width: 95%;
		background-color: #fff;
		height: 38rem;
		box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
		border-radius: 3px;
    }
    .popup__left {
        display: none !important;
        width:0;
    }
}

.popup__left {
	width: 50%;
	display: table-cell;
}
.popup-caption {
    position: relative;
    color: #ffffff;
    padding: 2rem .5rem;
}
.popup-caption h3{
    font-size: 2.4rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.popup-caption p{
    font-size: 1.4rem;
    margin-block-start: 0em;
    margin-block-end: 1em;
    
}

.bg-white h4 {
    font-size: 1.8rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;

}
.form-list .form-control {
    border-radius: 0;
    border-width: 0 0 1px 0 !important;
    border-color: #cccccc;
    padding: 6px 0;
    box-shadow: none;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input:focus {
    outline-offset: none;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.form-list .form-control:focus {
    box-shadow: none;
    border-color: #333333 !important;
}
.popup-caption span{
    font-size: 1.4rem;

    
}


.popup__right {
	width: 50%;
	display: table-cell;
	vertical-align: text-top;
    padding: 0rem 2rem
}

@media (max-width: 768em) {
	.popup__right {
		width: 100%;
		padding: 1rem 3rem;
		display: table-cell;
	}
}



.popup__text {
	font-size: 1.4rem;
	margin-bottom: 4rem;

}

@media (max-width: 56.25em) {
	
}

.popup:target .popup__content {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

.popup__close,
.popup__close:link,
.popup__close:visited {
	color: #777;
	position: absolute;
	top: 0rem;
	right: 0.5rem;
	font-size: 4rem;
	display: inline-block;
	line-height: 1;
}

.popup__close:hover {
	color: #55c57a;
}

/* ending pop up */

@media screen and (max-width:1200px) and (min-width:992px) {
	.card__media-list img {
		height: 15rem;
		width: 14rem;
	}
}

@media screen and (max-width: 991px) {
	.appartments-left-side {
		display: none;
	}
}

@media screen and (max-width:991px) and (min-width:768px) {
	.aparments-padding {
		padding: 2rem;
		background-color: #f5f5f5 !important;
		position: relative;
	}
	.card__media-list img {
		height: 15rem;
		width: 14rem;
	}
	.card {
		min-height: 15.1rem;
	}
	.card__media-heading {
		font-size: 1.6rem;
		margin-block-start: 0;
		margin-block-end: 0;
		color: #2f3947;
		font-weight: 400;
		font-family: "Roboto Condensed", 'sans-serif';
	}
	.card__media-details {
		font-size: 1.3rem;
		font-family: 'lato';
		color: #2f3947;
		margin-block-start: 0;
		margin-block-end: 0;
		margin-top: .5rem;
		line-height: 2rem;
	}
	.item-list {
		margin-top: 1rem;
	}
}

@media screen and (max-width: 768px) {
	.apartments__display__small-device {
		display: block;
		background-color: #ffffff;
	}
	.aparments-padding {
		padding: 2rem;
		background-color: #f5f5f5 !important;
		position: relative;
	}
	.card {
		padding: 1.5rem;
		/* border-bottom: 1px solid #d5d5d5; */
		margin: .2rem;
		background-color: #f9f9f9;
		border: 1px solid #d5d5d5;
		padding-bottom: 0;
	}
	.card__media-list img {
		width: 100%;
	}
	.card__media-heading {
		font-size: 1.5rem;
		margin-block-start: 0;
		margin-block-end: 0;
		color: #2f3947;
		font-weight: 400;
		font-family: "Roboto Condensed", sans-serif;
		margin: .7rem 0;
	}
	.card__media-details {
		font-size: 1.3rem;
		font-family: 'lato';
		color: #2f3947;
		margin-block-start: 0;
		margin-block-end: 0;
		margin-top: .5rem;
	}
	.card__media_btn {
		float: right;
	}
	.fa-heart {
		color: #333;
		/* border:1px solid black; */
		padding: 1.3rem;
		background-color: #fff;
		border: 0.1rem solid #ccc;
		border-radius: .4rem;
		margin-top: .5rem;
    }
    .btn-warning{
        background-color: #D7AE57;
        border-color: #D7AE57;        
        color: #fff;
    }
	.intersted-btn {
		margin: .5rem;
		position: relative;
		color: white;
		padding: 1rem 2rem 1rem 2rem;
		/* margin:10px 10px 10px 20px; */
		font-weight: 400 !important;
		cursor: pointer;
		font-size: 1.2rem;
		background-color: #D7AE57;
		border-radius: .4rem;
		border-color: transparent !important;
    }
    
	.item-list {
		margin-top: 6rem;
		padding: 0 0 0rem;
		list-style: none;
		margin-left: 0rem;
		position: relative;
		width: 100%;
	}
	.item-list li {
		float: none;
		padding: 1rem 1.5rem;
		border-bottom: .1rem solid #d5d5d5;
		border-right: 0rem;
		min-height: 2rem;
	}
	.item-list li:first-child {
		padding-bottom: 3rem;
	}
	.item-list li:last-child {
		padding: 1rem 1.5rem;
		border-bottom: none;
	}
	.item-list li span {
		display: block;
		color: #7A7B7C;
		font-family: 'Lato', sans-serif;
		font-size: 1.4rem;
		float: left;
		margin: 0;
		margin-left: -1.7rem;
	}
	.item-list li div {
		font-size: 1.4rem;
		font-weight: 600;
		float: right;
	}
	.item-list li:last-child {
		border-right: none;
	}
	.text-small {
		font-size: 1.1rem;
		float: right;
		clear: both;
		padding: 0.7rem 0rem;
	}
}